<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/works">Works</a></li>
        </ul>
      </div>
    <h1>About Thor</h1>
    <div>
        <p>Thor, also known as the Supreme God by the people of Svoriin, was an Asgard who held the title of Supreme Commander of the Asgard fleet.</p>
    </div>
</body>
</html>