<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
      <img class="img" src="img/1b59126864ded2f761230f5a9172ff32.jpg" alt="thor"/>
      <img class="img" src="img/e622468a52a7c2089abc112f5ca6c811.jpg" alt="thor & o'neill"/>
      <img class="img" src="img/Thor_0014_ss.jpg" alt="thor"/>
</body>
</html>